In [1]:
import pandas as pd
from sqlalchemy import create_engine
from info import username, password

In [2]:
beer_csv_file = "Resources/beers.csv"
beers_df = pd.read_csv(beer_csv_file)
beers_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [3]:
brewery_csv_file = "Resources/breweries.csv"
breweries_df = pd.read_csv(brewery_csv_file)
breweries_df.head()

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [4]:
new_beers_df = beers_df[["id", "name", "style", "abv", "brewery_id"]].copy()
new_beers_df["abv"] = new_beers_df["abv"].apply('{:.0%}'.format)
new_beers_df.head()

     id                 name                           style abv  brewery_id
0  1436             Pub Beer             American Pale Lager  5%         408
1  2265          Devil's Cup         American Pale Ale (APA)  7%         177
2  2264  Rise of the Phoenix                    American IPA  7%         177
3  2263             Sinister  American Double / Imperial IPA  9%         177
4  2262        Sex and Candy                    American IPA  8%         177

In [5]:
rds_connection_string = f"{username}:{password}@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
engine.table_names()

['Breweries', 'Beers']

In [13]:
breweries_df.to_sql(name='Breweries', con=engine, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "Breweries" does not exist
LINE 1: INSERT INTO "Breweries" (index, "Unnamed: 0", name, city, st...
                                 ^

[SQL: INSERT INTO "Breweries" (index, "Unnamed: 0", name, city, state) VALUES (%(index)s, %(Unnamed: 0)s, %(name)s, %(city)s, %(state)s)]
[parameters: ({'index': 0, 'Unnamed: 0': 0, 'name': 'NorthGate Brewing ', 'city': 'Minneapolis', 'state': ' MN'}, {'index': 1, 'Unnamed: 0': 1, 'name': 'Against the Grain Brewery', 'city': 'Louisville', 'state': ' KY'}, {'index': 2, 'Unnamed: 0': 2, 'name': "Jack's Abby Craft Lagers", 'city': 'Framingham', 'state': ' MA'}, {'index': 3, 'Unnamed: 0': 3, 'name': 'Mike Hess Brewing Company', 'city': 'San Diego', 'state': ' CA'}, {'index': 4, 'Unnamed: 0': 4, 'name': 'Fort Point Beer Company', 'city': 'San Francisco', 'state': ' CA'}, {'index': 5, 'Unnamed: 0': 5, 'name': 'COAST Brewing Company', 'city': 'Charleston', 'state': ' SC'}, {'index': 6, 'Unnamed: 0': 6, 'name': 'Great Divide Brewing Company', 'city': 'Denver', 'state': ' CO'}, {'index': 7, 'Unnamed: 0': 7, 'name': 'Tapistry Brewing', 'city': 'Bridgman', 'state': ' MI'}  ... displaying 10 of 558 total bound parameter sets ...  {'index': 556, 'Unnamed: 0': 556, 'name': 'Butternuts Beer and Ale', 'city': 'Garrattsville', 'state': ' NY'}, {'index': 557, 'Unnamed: 0': 557, 'name': 'Sleeping Lady Brewing Company', 'city': 'Anchorage', 'state': ' AK'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [14]:
new_beers_df.to_sql(name='Beers', con=engine, if_exists='append', index=False )

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "id" of relation "Beers" does not exist
LINE 1: INSERT INTO "Beers" (id, name, style, abv, brewery_id) VALUE...
                             ^

[SQL: INSERT INTO "Beers" (id, name, style, abv, brewery_id) VALUES (%(id)s, %(name)s, %(style)s, %(abv)s, %(brewery_id)s)]
[parameters: ({'id': 1436, 'name': 'Pub Beer', 'style': 'American Pale Lager', 'abv': '5%', 'brewery_id': 408}, {'id': 2265, 'name': "Devil's Cup", 'style': 'American Pale Ale (APA)', 'abv': '7%', 'brewery_id': 177}, {'id': 2264, 'name': 'Rise of the Phoenix', 'style': 'American IPA', 'abv': '7%', 'brewery_id': 177}, {'id': 2263, 'name': 'Sinister', 'style': 'American Double / Imperial IPA', 'abv': '9%', 'brewery_id': 177}, {'id': 2262, 'name': 'Sex and Candy', 'style': 'American IPA', 'abv': '8%', 'brewery_id': 177}, {'id': 2261, 'name': 'Black Exodus', 'style': 'Oatmeal Stout', 'abv': '8%', 'brewery_id': 177}, {'id': 2260, 'name': 'Lake Street Express', 'style': 'American Pale Ale (APA)', 'abv': '4%', 'brewery_id': 177}, {'id': 2259, 'name': 'Foreman', 'style': 'American Porter', 'abv': '6%', 'brewery_id': 177}  ... displaying 10 of 2410 total bound parameter sets ...  {'id': 145, 'name': 'Silverback Pale Ale', 'style': 'American Pale Ale (APA)', 'abv': '6%', 'brewery_id': 424}, {'id': 84, 'name': 'Rail Yard Ale (2009)', 'style': 'American Amber / Red Ale', 'abv': '5%', 'brewery_id': 424})]
(Background on this error at: http://sqlalche.me/e/f405)