In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
#from info import username,password

import matplotlib.pyplot as plt
import numpy as np
from flask import Flask, jsonify
import datetime as dt

# python SQL toolkit
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
postgress_user='postgres'
postgress_password='Bandit01!'

In [3]:
# connection = psycopg2.connect(user="postgres",
#                                   password="Bandit01!",
#                                   host="localhost",
#                                   port="5432",
#                                   database="beer_db")

In [4]:
# connection = psycopg2.connect(user="postgres",
#                                   password="Bandit01!",
#                                   host="127.0.0.1",
#                                   port="5432",
#                                   database="beer_db")

In [5]:
rds_connection_string = f"{postgress_user}:{postgress_password}@localhost:5432/beer_db"

In [6]:
#rds_connection_string = f"{username}:{password}@localhost:5432/beer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
engine.table_names()

['Breweries', 'Beers']

In [8]:
pd.read_sql_query('select * from "Breweries"', con=engine).head(100)

   brewery_id      name          city state
0           1  brewery1       orlando    FL
1           2  brewery2    Washington    DC
2           3  brewery3         Tampa    FL
3           4  brewery4        Boston    MS
4           5  brewery5  Breckenridge    CO

In [9]:
pd.read_sql_query('select * from "Beers"', con=engine).head(100)

   beer_id beer_name beer_style  brewery_id  ounces   abv    ibu
0        1     test1     style1           1       1  None  10.0%
1        2     test2     style2           2       2  None  10.0%
2        3     test3     style3           3       3  None  10.0%
3        4     test4     style4           4       4  None  10.0%
4        5     test5     style5           5       5  None  10.0%

In [33]:
Breweries_df=pd.read_sql_query('select * from "Breweries"', con=engine)
Breweries_df=pd.DataFrame(Breweries_df)
#Breweries_df=Breweries_df.set_index('brewery_id')
Breweries_df

   brewery_id      name          city state
0           1  brewery1       orlando    FL
1           2  brewery2    Washington    DC
2           3  brewery3         Tampa    FL
3           4  brewery4        Boston    MS
4           5  brewery5  Breckenridge    CO

In [34]:
Beers_df=pd.read_sql_query('select * from "Beers"', con=engine)
Beers_df=pd.DataFrame(Beers_df)
#Beers_df=Beers_df.set_index('beer_id')
Beers_df

   beer_id beer_name beer_style  brewery_id  ounces   abv    ibu
0        1     test1     style1           1       1  None  10.0%
1        2     test2     style2           2       2  None  10.0%
2        3     test3     style3           3       3  None  10.0%
3        4     test4     style4           4       4  None  10.0%
4        5     test5     style5           5       5  None  10.0%

In [44]:
# combine dataframes
Merged_df = pd.merge(Breweries_df, Beers_df)
Merged_df

,brewery_id,name,city,state,beer_id,beer_name,beer_style,ounces,abv,ibu
0,1,brewery1,orlando,FL,1,test1,style1,1,None,10.0%
1,2,brewery2,Washington,DC,2,test2,style2,2,None,10.0%
2,3,brewery3,Tampa,FL,3,test3,style3,3,None,10.0%
3,4,brewery4,Boston,MS,4,test4,style4,4,None,10.0%
4,5,brewery5,Breckenridge,CO,5,test5,style5,5,None,10.0%

### SQLALCEMY SETUP

In [11]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [12]:
Base.classes.keys()

['Breweries', 'Beers']

In [13]:
Breweries =Base.classes.Breweries
Beers = Base.classes.Beers
session =Session(engine)

In [14]:
session.query(Breweries)

### QUERIES, FUNCTIONS, ROUTES

In [45]:
Breweries_df=Breweries_df.set_index('brewery_id')
Beers_df=Beers_df.set_index('beer_id')
Merged_df=Merged_df.set_index('beer_id')

In [ ]:
#df.loc[df['column_name'] == some_value]

In [76]:
Breweries_df.loc[Breweries_df['state']=='FL']

brewery_id
1    brewery1
3    brewery3
Name: name, dtype: object

In [91]:
def getBreweries(State='None'):
        if State=='None':
            json_string=Breweries_df.to_json()
        else: 
            State=State.upper()
            json_string =Breweries_df.loc[Breweries_df['state']==State].to_json()
        return(json_string)

In [92]:
getBreweries('fl')

'{"name":{"1":"brewery1","3":"brewery3"},"city":{"1":"orlando","3":"Tampa"},"state":{"1":"FL","3":"FL"}}'

### FLASK

In [ ]:
app = Flask(__name__)

@app.route("/")
def index():
      routes='''
      <p>
      API end points for search breweries and beers.  
      </p>
      Routes:
            <ul>
            <li><a href="/api/v1.0/Breweries">/api/v1.0/Breweries</a>
            <li>/api/v1.0/Cities/&ltCityName&gt
            <li><a href="/api/v1.0/State">/api/v1.0/State</a>
            <li>/api/v1.0/State/&ltstateCode&gt    
            <li>/api/v1.0/Beers/&ltbyType&gt
            </ul>'''   
      return routes

@app.route("/api/v1.0/Breweries")
def Brewereies():
    return getBreweries()

@app.route("/api/v1.0/Cities/<cityName>")
def Cities(cityName):
    return cityName

@app.route("/api/v1.0/State")
def State():
    return "get all breweries ordered by state"

@app.route("/api/v1.0/State/<stateCode>")
def breweriesByState(stateCode):
    return getBreweries(stateCode)
  
    
@app.route("/api/v1.0/Beers/<beerType>")
def beersByType(beerType):
    return "Returns JSON all Beers of a specific type"  


# 4. Define main behavior
if __name__ == "__main__":
       app.run()
    #    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [24/Feb/2020 21:18:21] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Feb/2020 21:18:34] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [24/Feb/2020 21:18:45] "GET /api/v1.0/Breweries HTTP/1.1" 200 -
127.0.0.1 - - [24/Feb/2020 21:19:12] "GET /api/v1.0/State/fl HTTP/1.1" 200 -